<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} &bull; {{site.title}}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">


  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
 WebFont.load({
    google: {
      families: ['Open Sans:300,400,600,300italic,400italic,600italic', 'Titillium Web:400,600,400italic,600italic']
    }
  });
</script>

<!--  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600&subset=latin,latin-ext&ver=4.2.4" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:600italic,600,400,400italic"  type="text/css">
<!--  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/css/githubicon.css" | prepend: site.baseurl }}">-->
  <style> 
    {% include githubicon.css %}
  </style>
</head>
